{% extends 'layout/basic.html' %}
{% block title %} Профиль {% endblock %}
{% block header %} <h1>Профиль</h1> {% endblock %}
{% block content %}
<div class="auth">
                <!-- Список избранных товаров -->
            </div>
            <div class="noauth" style="position:relative;top:30%;">
                <center>
                    <h4>Войдите или зарегистрируйтесь, чтобы видеть историю заказов, пользоваться бонусными баллами и многое другое.</h4><br>
                    <div id="authorization">
                        <p>Войти / Зарегестрироваться</p>
                    </div>
                </center>
            </div>
        </div>
{% endblock %}
